.left_category_end_level_ul{ display: none; }
.mobi-showmore{display:none;}
.mobi-showmore-link{display:none;}
.line-through{ text-decoration: line-through; }
.cart_error_message { clear: both; padding-top: 10px; color: red; }
.dhide { display: none }
.dshow { display: block }